[2016-02-19 22:19] ferventcoder opened #1 "What is the license?"
What license model does this code follow?

[2016-02-20 13:48] secana commented on #1
Hi ferventcoder, I never thought about any license. This code is my free time project. If you want to use it, please do so. I don't care if you use it privately or in a commercial application.

It just would be nice if you find any bugs or write some new features to merge the code into the project.
I hope I could help you :)

[2016-02-20 15:00] ferventcoder commented on #1
@secana sorry to further bother you about this, unfortunately that may not be enough to satisfy legal concerns. If I may suggest a license of Apache 2 or MIT. If you want, I can even provide a pull request to accommodate  this change.  Both licenses also offer you and any contributors protections from legal issues as well - https://github.com/chocolatey/choco/blob/aed7282a60d9b6d162232bb1ed1a4ef48

[2016-02-20 16:09] secana commented on #1
You don't bother me at all. I compared both licenses and decided I'll use the Apache 2 licence from now on. I added the license header to all source files and added a remark on the read me page.
I'll update the Nuget package on Monday.

[2016-02-20 18:04] ferventcoder commented on #1
Awesome, thanks!

[2016-02-20 18:28] #1 closed

[2016-03-05 19:15] cwchapma opened #2 "NullReferenceException in Find"
I'm getting a null NullReferenceException.  Somehow t.Fail is null.

[code]

This is my program:

    class Program
    {
        static void Main(string[] args)
        {
            var pe = new PeFile(@"c:\windows\system32\calc.exe");

            var trie = new Trie();

            var nsisSig = StringToByteArray("83 EC 20 53 55 56 33 DB 57 89 5C 24 18 C7 44 24 10");
            var s = BitCon

[2016-03-05 22:07] cwchapma commented on #2
I see now, I forgot to call trie.Build();

[2016-03-05 22:07] #2 closed

[2016-03-06 11:12] secana commented on #2
Hi cwchapma, I think it's a good idea to make the "Build" command build in the Find. It's more intuitive. I'll update the code a soon as possible. Thx for your feedback :)

[2016-03-12 02:41] camerondm9 opened #3 "PeFile ignores exported functions without a name"
Some DLLs have functions that are exported by ordinal only. These functions do not have a name at all, so NumberOfNames is not equal to NumberOfFunctions. I have modified PeFile.ParseExportedFunctions, and can confirm that this code works on my test file:

        private PeFile.ExportFunction[] ParseExportedFunctions(byte[] buff, Structures.IMAGE_EXPORT_DIRECTORY ed, Structures.IMAGE_SECTION_HEAD

[2016-03-12 09:17] secana commented on #3
Hi camerondm9,

your are right, I only parsed functions exported by name, but functions exported by ordinals should be in the list, too. I tested your code an really like it. I've already implemented your changes in the library and I'll publish a new NuGet package on monday.

Thank you very much for you contribution!

[2016-03-12 09:17] #3 closed

[2016-10-27 03:27] heywannalaugh opened #4 "ImageDelayImportDescriptor exception"
Hi, there is an "index was outside the bounds of the array" exception in the ImageDelayImportDescriptor when opening certain files.

SupremoControl is a file that will help reproduce the issue.

http://www.supremocontrol.com/

Here is the download
http://www.supremocontrol.com/download.aspx?file=Supremo.exe&id_sw=7&ws=supremocontrol.com

Keep up the great work!!!

[2016-10-27 14:30] secana commented on #4
Hi, thx very much for the bug report. As it seems the ImageDelayImportDescriptor of this executable is broken. The offset where it should be is greater than the buffer of the PE file, since the out of bound exception. I fixed the library and it shouldn't crash any more. Instead the values should be shown as null. Release 0.4.2 should fix the issue.

[2016-10-27 16:07] heywannalaugh commented on #4
Very cool, thank you... wow, that was quick!  If I find anything else, I will let you know, but so far so good!

[2016-10-27 16:07] #4 closed

[2016-10-30 06:24] beketata opened #5 "Exported data."
Not all exports could be a functions. It could be a data also. How to distinguish them?

[2016-10-30 15:30] heywannalaugh opened #6 "TLS Callback"
Hi, I am not sure that the TLS Callbacks are working correctly.  Files that use TLS callbacks are somewhat rare, so I searched for a sample and analyzed it with another PE utility, and it showed the TLS callbacks, but for some reason, they are not showing in PeNet.

For example if you download and compile this code:

https://docs.google.com/uc?id=0ByDwYV_JGWRNNTZkMWUzMjYtNDljOS00YmNjLWFlZDItMWRjYT

[2016-10-30 19:10] secana commented on #6
Hi again. You are right, I took the TLS callback address an RVA instead of an VA which leads to a wrong address computation. I fixed it and uploaded a new NuGet package (0.4.3). Thx a lot for reporting the issue.

The purpose of AhoCorasick is an popular algorithm for pattern matching. It is used to detect byte opr string pattern in a PE file. The idea is to find specific pattern which identify ma

[2016-10-30 19:30] secana commented on #5
To my knowledge you can't. The header file of the dll/exe contains the information. A data export looks like a function export. Only hint is that the data export has no parameters in the name mangling like a function without any parameters.

[2016-10-31 15:16] heywannalaugh commented on #6
Very cool, thank you!

Cool, I will check out the AhoCorasick algorithm, it looks very interesting.

BTW, besides looking at the manifest in the resources directory, is there any other way to determine if the PE file is set to run as administrator?  Thank you!

[2016-10-31 15:37] #6 closed

[2016-10-31 18:32] #5 closed

[2016-10-31 18:35] secana commented on #6
I've to thank you for reporting bugs ;)
The manifest in the resource directory is the only way I know, too. If you ever lean of another way, let me know.

[2016-11-02 15:26] heywannalaugh commented on #6
Sure, and thank you for writing such cool stuff!

Yeah, if I find another way to find the run as admin, I will let you know.

BTW, I found a file that reproduces a bug... I might find a couple more over the next few days because I am going to be testing A LOT of files.

The file is called "dosx.exe", and it is in the system32 directory of Windows XP.

Do you want me to email the file to you?  If s

[2016-11-06 20:33] heywannalaugh opened #7 "A couple small exceptions"
Hi,

Here are some files that reproduce a few minor bugs, they are all clean Windows files.

I also have some malware files that have similar issues, but I think fixing these minor bugs will fix the exceptions for the malware files, if not, I will let you know.

You can download the files here:
www.desktopfolders.com/FilesWithErrors.zip

Thank you!

[2016-11-07 07:24] secana commented on #7
Hi heywannalaugh,
sorry for the late answer. I was on vacation without any internet. I will have a look at the samples as soon as I've time. Again, thank you very much for your bug hunting :)

Kind regards,
 secana

[2016-11-07 15:35] heywannalaugh commented on #7
Very cool, thank you!  Once these small issue are fixed, I will test it with tons of malware samples and let you know if there are any other issues... I do think there will be anymore though... your code is super solid.

[2016-11-07 18:00] heywannalaugh commented on #7
Hi, I just noticed something, I am not sure if it is supposed to be this way or not, but I wanted to at least mention it.  The PEEditor imphash does not match the VirusTotal imphash...

Here is a link, just click on Additional Information, and you will see their imphash.

https://virustotal.com/en/file/db63a0b433e72f65b6f7696b554b47c44b6dfca5937e3f2a349b4fb042c6bc19/analysis/

I was not sure if im

[2016-11-08 06:46] secana commented on #7
I had a look at the exe which crashes the PEditor. It is not a valid PE file and thus cannot be parsed. The PEditor catches the error now.

The files in the "These all have the same issue also" are also not valid PE files. Actually their are nothing at all, since their file size is zero ;)

The files in the "These all have the same issue" seems to be a bit more complicated. They are not valid PE f

[2016-11-08 18:16] heywannalaugh commented on #7
Hi, they were just all files from Microsoft Windows... I think most of them were from XP.

Cool, I will try the updated version with a lot of malware and see how it goes, thank you!

Do you have any thoughts of the imphash?  Is it a standard hash like SHA256 is?

[2016-11-09 08:46] secana commented on #7
Hi. Regarding the ImpHash. It's not a standard hash like SHA256. A company called "Mandiant" is some kind of the inventor of the hash. You go over all imports of a PE file and concatenate library name + function name and than make an MD5 over the string.
Nonetheless my implementation should have the same results as the "official" python implementation by Mandiant. I checked the python code again a

[2016-11-09 08:57] heywannalaugh commented on #7
Very cool, thank you!  BTW, I hope you do think I am being a pain ;).  I doubt I find anymore bugs, your code is very solid!

I have a quick question though, have you thought about adding "Entropy" to the sections and for the entire file?  Also, have you thought about adding strings as well?

[2016-11-09 12:17] secana commented on #7
I added a project to the GitHub page, and added your ideas. I'll implement the stuff when I've a bit spare time. If you find any more bugs notify me. It's good to get some feedback and to improve the project :)

[2016-11-09 12:17] #7 closed

[2016-11-16 03:29] heywannalaugh opened #8 "Issues that freeze"
Hi.

I found some malware that freeze your project.  It looks like it is an easy fix, and some of these are the same issue, but I figured I would send all of them to you just in case.

This is real malware, so I zipped the files with the password: infected

You can download the malware files from here:

www.desktopfolders.com/Malware.zip

Thank you!

[2016-11-16 14:56] secana commented on #8
Hi,
I fixed the issue in 0.4.6. The problem was an invalid relocation directory. The parser hung up because it tried to parse billions of relocations, which is obviously non-sense. I added an sanity check for that case and now it should work.

Thank you again for bug hunting. Thx to you, PeNet will be the most stable PE header parser of all time :)

[2016-11-16 14:56] #8 closed

[2016-11-28 15:39] heywannalaugh opened #12 "Digital Signature Friendly Name"
Hi, I found a simple bug... Digital Signature Friendly Name is not working, it does not show the value.  Thank you!

[2016-11-28 19:56] secana commented on #12
Hi, I looked into the issue. I don't parse the certificate by myself but use the .Net class X509Certificate2 for it. If the digital signature has no friendly name, an empty string gets returned. Do you have an example where an certificate has a friendly name but doesn't return it? Because that would be a bug in the Microsoft implementation of the X509Certificate2 class.

[2016-11-29 07:58] heywannalaugh commented on #12
My bad, sorry, I was getting it confused with SubjectName ;).  Sorry about that!

[2016-11-29 07:58] #12 closed

[2016-12-01 21:43] heywannalaugh opened #13 "Quick quesion / possible issue"
The IsExe attribute ALWAYS returns True for .exe AND .dll files...

While the IsDll attribute returns True only for .dll files. (So this makes sense)

Is the IsExe attribute supposed to return True for ALL .dll files?

Thank you!

[2016-12-02 07:42] secana commented on #13
Hi,

I stumbled at that too, when I implemented the parsing of the flags. The behavior you see is correct. The "IsExe" does not mean that the binary before you is an application with an entry point. It means that the binary is executable, as in "contains executable code". Every dll contains executable code and can be executed, thus every dll has the IsExe flag set. It's a pretty confusing flag and

[2016-12-02 19:01] heywannalaugh commented on #13
Cool, thank you, that is what I was thinking!  Have a great weekend!

[2016-12-02 19:01] #13 closed

[2016-12-05 07:45] heywannalaugh opened #14 "Some Windows files that crash PeNet"
Hey, sorry to keep bugging you, but here are some Windows files that crash PeNet... they are all standard Microsoft Windows files.

www.desktopfolders.com/Issues.zip

Thank you!

[2016-12-10 18:29] heywannalaugh opened #15 "A few small specific issues"
Hey, here are a few more samples that reproduce bugs… they are all malware, so the zipped file is password protected with the password “infected”.

The Resource.ResourceDirectory.Manifest Crash.exe will crash PeNet when you navigate to the Resource tab, then expand Resource Directory, and then expand Manifest.

The other two files have invalid values under the Sections tab… I believe because they

[2016-12-22 14:37] secana commented on #15
Hi, I looked into the issues and (hopefully) fixed them. I'll do a bit more work on PeNet in the next days so that the fixes should be in the next release.

Thx again very much!

[2016-12-22 14:39] secana commented on #14
Hi, these are really strange files. They start like an PE file (DOS Header etc.) but the rest seems to be something else. I'll have a closer look at this issue. Other PE parser tell me that they are no PE file. As a quick fix, I'll do the same, such that PEditor doesn't crash any more.

[2016-12-22 14:39] #14 closed

[2016-12-22 14:39] #15 closed

[2016-12-23 03:12] heywannalaugh commented on #15
Sounds great... I tested tons of files and I am pretty sure that there will not be anymore issues, thank you as well!

[2016-12-26 05:08] heywannalaugh opened #16 "Memory leak?"
I forgot to mention this, but one last thing...

I noticed that if I open several files (especially large files), the memory utilization of the PeNet process continues to increase.

Should PeNet dispose of the opened file after it is finished displaying the results?

Thank you!

[2016-12-26 12:20] secana commented on #16
Uh, that's an interesting bug. I'll look into it in the next few days. Thx for mentioning it!

[2017-05-27 00:20] blackntt opened #18 "How can I get a list of imported dll from pe by using PeNet"
Hi,
I need to I get a list of imported dll from pe by using PeNet (which class and functions can i use).

[2017-05-27 00:51] blackntt commented on #18
I got it. thanks for your project.

[2017-05-28 12:46] #18 closed

[2017-07-28 04:19] zeromus opened #19 "throw Exception"
I've got a patch to throw a new PeNetException instead of Exception so I can ignore it from PeNet (the way we use it creates a lot of exception chatter)

But should I apply it to master or devel or core, or what? I can't tell what's going on

[2017-09-13 23:07] ticktickMOF opened #23 "not usable in .Net Framework"
Since the conversion to .NET Core and .NET Standard NuGet in VS 2015 doesn't allow PeNet to be referenced by .NET Framework projects.

[2017-09-14 06:41] secana commented on #23
Hi @ticktickMOF I just tried it our and I can install PeNet into an .Net 4.6.1 project. Do you have the .Net Standard 2.0 SDK installed? Regarding this page you need it to use an .Net Standard 2.0 package with an 4.6.1 project. https://docs.microsoft.com/en-us/dotnet/standard/net-standard

I'll check if I can build a package that contains an 4.6.1 assembly anyways. Regards, secana.

[2017-09-14 07:55] secana commented on #23
I published a new version 0.5.1 which targets .Net 4.6.1 directly. I hope that fixes your issue.

[2017-09-15 19:18] #23 closed

[2017-09-21 07:58] secana opened #28 "Add .Net header to PeNet"
Implement the .Net header in PeNet

[2017-09-24 18:19] secana commented on #28
Already implemented the Meta Data streams GUID, Blob, String and US
Next big step is the implementation of the Meta Data Tables.

[2017-09-24 18:32] secana opened #30 ".Net Framework test binary missing"
THe ".Net Framework test binary" from the PeNet testing project is missing in the binary folder of the PeNet test project which leads to failing test.

Copy the test binary to the binary folder of the PeNet test project and make sure the binary gets checked in  this time.

[2017-09-24 18:51] #30 closed

[2017-09-27 19:40] secana commented on #28
Implemented the first table "Module" incl. resolving from the .Net heaps.
Next table is AssemblyRef

[2017-11-11 12:45] BigJk opened #34 "Saving a modified PE File"
First of all, PeNet is awesome. I'm just missing the ability to write modified headers / file back to disk. Is this feature really not implemented or did I miss something? In case its really missing is there a chance to see it implemented in the future?

[2017-11-19 13:28] secana commented on #34
Hi @BigJk,
you are right, the feature is missing. I've always wanted to add it but currently I do not have the time. You can try the following, maybe it's enough for you use case:

[code]

PeNet works internally by loading the whole PE file into a buffer. All changes you make are done to this buffer in memory. If you want to save your changes, you just have to save the buffer.

I hope that helps.

[2017-11-21 11:44] BigJk commented on #34
@secana Thanks for the answer! I expected the Buff variable to just hold the original version so I didn't think about that. I will check if it works.

[2017-11-26 17:37] secana commented on #34
Note to self: Add a "save" function in PeNet

[2017-12-06 15:46] secana opened #35 "Authenticode in .Net"
Currently PeNet uses the Windows Native API to check if a sample has a valid signature. This brings the problem, that the check does not run under non-Windows systems.

Mono has an implementation that can be used instead or adapted to work with PeNet.

https://github.com/mono/mono/blob/0bcbe39b148bb498742fc68416f8293ccd350fb6/mcs/tools/security/chktrust.cs

https://github.com/mono/mono/tree/0bcbe3

[2017-12-08 07:37] farodin91 opened #37 "Add travis ci build"
Automated test builds using https://travis-ci.org/

[2017-12-08 09:01] #35 closed

[2017-12-10 14:01] secana opened #39 "Parsing of X509Certificate2 does not work under Linux"
The parsing of X509Certifcate2 throws an exception under Linux but works under Windows.

This means that the validity of the Authenticode certificate cannot be checked.

See official issue in the Dotnet Core repo: https://github.com/dotnet/core/issues/1145

[2017-12-12 15:49] secana commented on #39
The .Net Core team acknowledge that it's a bug https://github.com/dotnet/corefx/issues/25828

[2017-12-12 16:18] secana commented on #39
The following intermediate solution was proposed:
[code]
will populate coll with all of the certs contained in the CMS certificates collection. The order they come out from that file format is usually smallest first; so you'd need to do a bit of work to line that up with what the single certificate ctor does for you.

[2017-12-12 19:11] secana opened #40 "Authenticode works only for x32"
The authenticode implementation in PeNet works only for x32 binaries but not for x64 binaries. The hash that is read from the certificate is correct, but the computed hash is wrong.

Example 32 bit:
[code]

Example 64 bit:
[code]

[2017-12-12 19:13] secana commented on #39
You can find the certificates allowed for code signing with the code above, but sometimes there are multiple certificates in the chain which can be used for code signing.

How do you know which of the certificates in the PKCS7 was used to sign the code?

[2017-12-12 19:16] secana commented on #40
![image](https://user-images.githubusercontent.com/12230822/33903609-2ebf3496-df79-11e7-95fd-49857e52d2a8.png)

The image shows the correct hash for kernel32.dll in the PKCS7 structure. The computed one is different.

[2017-12-12 19:25] secana commented on #39
Will most likely be implemented for .Net Standard 2.1.0 https://github.com/dotnet/corefx/issues/2910

[2017-12-12 22:29] #39 closed

[2017-12-14 15:27] #40 closed, assigned to nobody

[2017-12-23 11:06] secana commented on #28
The offsets of the different Meta Data Tables are not known before hand. The offset of a table is defined by the length of the previous table.

This means that the tables have to be implemented in the following order:

- [ ] 00 - Module
- [ ] 01 -TypeRef
- [ ] 02 -TypeDef
- [ ] 04 - Field
- [ ] 06 - MethodDef
- [ ] 08 - Param
- [ ] 09 - InterfaceImpl
- [ ] 10 - MemberRef
- [ ] 11 - Constant
- [ ]

[2017-12-24 10:45] secana commented on #28
Before the actual tables can be implemented the different indices have to be implemented.

- [ ]  TypeDefOrRef
- [ ]
- [ ]
- [ ]
- [ ]

[2017-12-24 10:47] secana commented on #28
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]

[2018-01-11 12:22] secana opened #47 "IsValidPeFile returns false for valid PE file"
The "IsValidPeFile" function returns "false" for "c:\windows\system32\calc.exe" which is an valid PE file.

Find out, why the function thinks it's invalid and repair the function.

[2018-02-14 13:56] secana commented on #47
Removed the whole function in PeNet 0.6.8 since it is to hard to say if a PE file is valid, where valid means runnable by Windows

[2018-02-14 13:56] #47 closed

[2018-03-14 13:56] aelth opened #48 "Parsing PE file in memory"
Hi,

first of all thanks for PeNet, it is a great library!
I have one feature request - the ability to parse PE file directly from memory, without the need to copy the contents to another buffer.
I tried to implement this myself using Streams, but I got stuck since the byte array usage is used in every parser and it seems to me that switch to memory streams would be very consuming (although I migh

[2018-03-15 09:44] secana commented on #48
Hi @aelth,
first, thanks! Good to hear that you like it.

I'm not sure if I understand your use case correctly. There is the function `public PeFile(byte[] buff)` to create a PeFile from a existing buffer. The buffer is used by reference, so no new copy is made.

Could you elaborate a bit more what you need?

Regards,
secana

[2018-03-15 10:56] aelth commented on #48
Hi,

I'm sorry, I asked a question in a hurry without throughly thinking about it:(

What I'm trying to do is to traverse the list of active processes and obtain the PE structure of the mapped file (process image) or any loaded DLL without reading the file from the disk.
The main problem is that I'm dealing with **remote** memory (i.e. memory of another process), so I must first map (i.e. read) th

[2018-03-15 18:17] secana commented on #48
Very interesting use case. I didn't have that in mind when I wrote PeNet. So you solved your problem by using the NativeStructureParsers? If you have some changes, that you would to see in the official lib, just give me a pull request, or tell me what you need.

[2018-03-19 08:15] aelth commented on #48
At the end `NativeStructureParsers` were not fully adequate for my task, because I don't know the size of my "native" headers in advance (the offset of NT headers, sections, etc.).

I solved my problem by reading the structures directly, taking fixed lengths into account and parsing sizes when needed. It looks something like this:
[code]

It is a bit hacky and I'm using PeNet structures directly,

[2018-03-20 16:36] secana commented on #48
Alright, good to hear that you found a solution. I'll close the issue. Whenever you have another question or idea feel free to create a new one.
Cheers!

[2018-03-20 16:36] #48 closed

[2018-05-24 09:18] Stuv7CB opened #49 "Support .Net Framework v.4.0"
Hello,
Could you please add support of .Net v4.0 for nuget package.
It seems that your library can be compiled targeting this version of .Net

[2018-05-24 15:32] secana commented on #49
Have to update PeNet.Asn1 first to support .Net Framework 4.0

[2018-05-24 16:10] #49 closed

[2018-05-24 16:14] secana commented on #49
Released a new PeNet vesion 0.7.0 which targets .Net Framework 4.0 as well.

[2018-10-14 11:14] droyad opened #52 "How to extract Debug Info"
I've been digging through the source, but I can't figure out how to take an Address or Pointer and use it to read the section. Specifically I am looking for the hash/signature and age in the `ImageDebugDirectory` data. Any pointers would be appreciated.

[2018-10-15 06:18] secana commented on #52
Hi @droyad, I'm not quite sure if I understand what data you want to get out of the PE file. Could you elaborate a bit more what you want?

[2018-10-16 07:14] secana commented on #52
Hi @droyad, thx for the explanation. Unfortunatly there is currently no way to get the "RSDS, {96F231BD-9207-421C-9EF5-28D2F4DF0B81}, 1, D:\ExternalRepos\PeNet\src\PEditor\obj\Release\PEditor.pdb" information from PeNet.

Unfortunately, I'm very short on time a.t.m, so if I have to do it, it will take a few days. If you hack something together, I would be super happy about a PR, because especially

[2018-10-16 10:11] droyad commented on #52
No worries, I'll see what I can scratch together later this week.

[2018-10-25 07:35] #52 closed

[2018-12-11 04:57] tututu-patch opened #56 ".Net Framework Request Support 2.0"
I hope to build the runtime target .Net Framework 2.0 for it.

[2018-12-11 08:20] secana commented on #56
Sry, I'm already supporting net40 which is the lowest I'll go with the library. Can you elaborate why you need such on old framework supported?

[2018-12-11 08:42] tututu-patch commented on #56
Because .Net 2.0 has good compatibility, Windows XP cannot now install .Net 4.0.

[2018-12-11 08:46] secana commented on #56
I'm not sure if that's true. .Net 4.0 can be installed on Windows XP: https://blogs.msdn.microsoft.com/dotnet/p/dotnet4xp/

[2018-12-11 08:51] tututu-patch commented on #56
Ok, thank you. I have never known.

[2018-12-11 13:56] #56 closed

[2018-12-17 19:59] dteviot opened #57 "Useless code in PEditor.TabItems. SetImports()"
https://github.com/secana/PeNet/blob/0458c44a83e3c39214cbb0e7f2cb30d7d4126ede/src/PEditor/TabItems/Imports.xaml.cs#L37-L58

Is functionally same as
[code]

[2018-12-18 10:41] FlorianHockmann opened #58 "IsSignatureValid returns false for old firefox.exe with a valid signature"
`PeFile.IsSignatureValid` returns `false` for the attached `firefox.exe` (which is from 2012). I didn't look that deep into it, but from a first glance, the reason is that the `Authenticode` property is `null`.

[firefox.zip](https://github.com/secana/PeNet/files/2690092/firefox.zip)

[2018-12-18 10:49] FlorianHockmann opened #59 "IsSignatureValid doesn't actually verify the signature"
The check for `PeFile.IsSignatureValid` is implemented in [the private method `AuthenticodeInfo.CheckSignature`](https://github.com/secana/PeNet/blob/0458c44a83e3c39214cbb0e7f2cb30d7d4126ede/src/PeNet/Authenticode/AuthenticodeInfo.cs#L67) which basically does this:
[code]

This shows that the check only compares whether the hash from the signature matches the computed hash of the PE file, but the

[2018-12-19 10:56] secana commented on #58
Crash happens in the `ContentInfo` constructor

[code]

The problem seems not to be in PeNet but in the Asn1 library it uses to parse the certificate data. The issue [PeNet.Asn1 Issue 10](https://github.com/secana/PeNet.Asn1/issues/10) handles the bug.

[2018-12-19 14:00] #58 closed

[2018-12-19 14:08] secana commented on #59
Initial idea for a fix by @FlorianHockmann
https://github.com/FlorianHockmann/PeNet/commit/e73a1de19d43d06b2aab908d155c3bfdca3da916

[2018-12-21 12:45] secana commented on #59
It seems that we are running into a known problem: https://github.com/dotnet/corefx/issues/31073

I've verified that this is the case with the following code:

[code]
On .Net Core: "Invalid Siganture."
On .Net Framework: "Valid Signature."

[2018-12-21 12:53] secana commented on #59
Not sure how to handle this. Technically .Net Core is right, since DigiCert doesn't comply to the CMS standard. On the other hand, the "real world" standard would be to accept the signature, like .Net Framework does it.

I've tried to update `System.Security.Cryptography.Pkcs` to a preview version (4.6.0-preview.18571.3), but now the `signedCms.Decode(rawCerts)` fails with an `CryptographicExcepti

[2018-12-21 12:58] secana commented on #59
I've requested help in the CoreFX issue: dotnet/corefx#31073

[2018-12-21 13:36] secana commented on #59
Opened an issue in CoreFX: https://github.com/dotnet/corefx/issues/34202

[2019-01-12 02:50] clrlslwi opened #61 "Filling imports"
There does not appear to be any way to easily translate an imported function to its IAT address (for mapping an image into memory.) The following code works. 64 bit only, was in a hurry!

[code]

[2019-01-14 10:09] secana commented on #59
Fixed in 0.8.2

[2019-01-14 10:09] #59 closed

[2019-01-14 10:47] secana commented on #57
@dteviot thx for the code. It's much more elegant. I've committed it already.

[2019-01-14 10:48] #57 closed

[2019-01-18 07:34] secana opened #63 "Switch to DocFx"
The API documentation wasn't updated in a long time. The old sandcastle API generator is deprecated. Switch to [DocFx](https://dotnet.github.io/docfx/index.html) to autogenerate the API reference.

Add the API reference build step to the Cake script with automatic upload if possible.

[2019-02-01 15:02] secana commented on #28
- [ ] Fix tests for NetCoreConsole
- [ ] Implement Method parsing based on [Methods](https://www.codeproject.com/Articles/12585/The-NET-File-Format#Methods)

[2019-02-03 17:38] #28 closed

[2019-02-03 18:36] secana opened #66 "Add CI job"
Add a CI job to build an deploy the master branch automatically based on a commit.

CI Pipeline
[Azure Pipeline PeNet](https://dev.azure.com/secana/PeNet)

[2019-02-03 18:36] #37 closed

[2019-02-03 18:38] secana commented on #66
- [ ] Use Windows to build (needed for PEditor)
- [ ] Install Cake global tool
- [ ] Evaluate test results
- [ ] On test success, publish to NuGet (PeNet)
- [ ] On test success, publish to Github (PEditor)

[2019-02-05 15:09] drauch opened #67 "What is missing for a 1.x version?"
What do you think is missing for a 1.0 version step? We'd like to use your library, however our company has a kind of "no beta libraries" policy and we're concerned because of the 0.x version indicator. Would you think that the library can be used to parse the IMAGE_FILE_EXECUTABLE_IMAGE flag or do you think that your library isn't that far and we should consider implementing this ourselves instea

[2019-02-06 07:37] secana commented on #67
Hi D.R.,

the library implements the whole PE header and most important parts of the .Net header. What is missing to for the 1.0 (currently working on it) is a better documentation and CI system. The library is used in multiple production projects, so there is no reason to not use it.

Regards,
 Stefan

[2019-02-06 09:43] drauch commented on #67
Thank you for your quick reply. If we may, we'd have two more questions:

1) Is your library loading the whole PE file into memory? Is there a way to only load the headers so memory consumption stays low?

2) Have you gotten around to fix the memory leak described in https://github.com/secana/PeNet/issues/16?

Thank you again for your hard work!

Best regards,
D.R.

[2019-02-06 10:02] secana commented on #66
Build pipepline configured here: https://dev.azure.com/secana/PeNet/_build?definitionId=2

[2019-02-06 10:02] #66 closed

[2019-02-06 11:17] #16 closed

[2019-02-06 11:21] secana commented on #67
Unfortunatly the library loads the whole binary into memory, because I don't know the size of the PE Header before hand.
If you have very large files, it is reasonable to assume that the Header is in the first 1 MB of the file. In this case you can read only the first MB from disk and hand the small Buffer to PeNet. In this case you won't have to load the whole binary.

The issue #16 was a bit har

[2019-02-07 09:23] drauch commented on #67
That should suffice for our needs, thank your for the hint.

Okay, thanks for the information.

Very mature and useful replies - and quick as well. Thanks for your work!

Best regards,
D.R.

[2019-02-07 14:12] drauch commented on #67
Hm, one more thing though. Is there a maximum PE file header size? I realized that when the buffer is too small, PeNet runs into an IndexOutOfRangeException instead of partially building up the model and/or throwing a useful exception.

[2019-02-07 14:53] secana commented on #67
Puh, good questions. Not that I know of. But if you could provide me a sample where the case happens, I could improve PeNet to return the header as far as it's possible.

[2019-02-07 15:02] drauch commented on #67
var bytes = 495; // 496 works, 495 throws ArgumentNullException, 10 throws IndexOutOfRangeException
    var buf = new byte[bytes];
    var fs = new FileStream("C:\\Users\\<youruser>\\Downloads\\kernel32.dll", FileMode.Open, FileAccess.Read);
    fs.Read(buf, 0, bytes);

    var peFile = new PeFile(buf);

[kernel32.zip](https://github.com/secana/PeNet/files/2841354/kernel32.zip)

[2019-02-08 10:41] #63 closed

[2019-02-08 11:38] secana opened #70 "Add icon to "Icon URL" in PeNet package description"
Add icon to the PeNet library repo.
Add icon to "Icon URL" in PeNet package description.

[2019-02-08 11:40] secana commented on #70
Idea: Create a new logo with a "MZ" in there or "PeNet"

[2019-02-08 16:44] secana opened #71 "Split build and deploy"
When a code or documentation is committed to the master branch, it builds and deploys to Nuget. The deploy fails, because there exists an package with the same version already.

Split build an deploy, such that the build and test run without triggering the deploy to Nuget.

[2019-02-10 13:07] secana commented on #71
Unfortunately not possible with Azure pipelines

[2019-02-10 13:07] #71 closed

[2019-02-11 15:33] secana commented on #67
I had a look at the example provided by you. If the last byte is missing, PeNet crashes already in the constructor where the bare minimum of needed structures is parsed. The offset is so small that the data directories and, even more important, the section header cannot be parsed. This makes a mapping of virtual to physical addresses impossible.

Currently I'm out of ideas how to address this issu

[2019-02-11 17:31] drauch commented on #67
To my understanding of the C# language, it would be a big improvement to throw a suitable domain-specific exception like "BeginningOfHeaderUnparsable" or at least a "PeNetParseException". An IndexOutOfRange or an ArgumentException should (almost) never be caught by code because they point out a developer error. This is why throwing such exceptions is not a good idea - the user of your API has no g

[2019-02-14 07:15] #67 closed

[2019-03-15 21:34] Meekay617 opened #73 "StrongName version of package"
This package is amazing, but I'm needing a version that is strongly-name to avoid the following errors:

[code]

[2019-03-30 21:11] Akaion opened #74 "TLS Directory Parsing Doesn't Work"
I consistently get a null value for the TLSDirectory of multiple PE images that have valid TLS Directories (confirmed through CFF Explorer & my own PE Parser.)

[2019-04-01 07:52] secana commented on #74
Hi @Akaion, would have an example binary for me I can test against?

[2019-04-01 09:10] #73 closed

[2019-04-03 10:22] secana commented on #74
Hi @Akaion thx for the example file. I guess I've found and fixed the error. Could try it again with PeNet 1.0.3?

[2019-04-03 19:08] Akaion commented on #74
It works correctly now :)

[2019-04-03 19:08] #74 closed

[2019-04-12 02:37] JohnHanson21 opened #77 "DllCharacteristics.IMAGE_DLLCHARACTERISTICS_NO_SEH Flag is never set."
The DllCharacteristics.IMAGE_DLLCHARACTERISTICS_NO_SEH Flag is never set when examining a PE file regardless of whether the PE uses safeseh or not.

It's either that or I am being a moron and not using it correctly. :D

The following code demonstrates the problem, however you will have to supply a non safeseh dll on your system to test with:

[code]

[2019-04-15 11:37] secana commented on #77
Hi @JohnHanson21,

I've trouble finding a binary without safe SEH. Could you provide one for debugging?

[2019-04-15 22:41] Andy53 commented on #77
You can download a FTP server from here: http://www.exploit-db.com/wp-content/themes/exploit/applications/687ef6f72dcbbf5b2506e80a375377fa-freefloatftpserver.zip

The ftpserver.exe file does not implement safeseh however the flag will be set as true in the above example.

[2019-04-16 11:29] #77 closed

[2019-04-16 11:31] secana commented on #77
The flag resolving works as intendet. I've added unit tests to verify the correct behavior. @Andy53 you can test for your self, with the binaries in the test folder.

[code]

[2019-04-18 09:10] #70 closed

[2019-05-06 08:09] #34 closed

[2019-05-11 03:14] dmhai opened #80 "why the ImageBase type is ulong?"
hi , when I debuging a 32bit app(PeNet.Test\Binaries\NetFrameworkConsole.exe)，
why PeFile.ImageNtHeaders.OptionalHeader.ImageBase is a ulong field ,not uint ?

[2019-06-06 08:52] secana opened #81 "Typo in "NetRunFroMSwap""
In the File Header characteristics is a typo: NetRunFro**M**Swap
The M has to be lower case

[2019-06-07 11:39] #81 closed

[2019-06-11 14:50] secana opened #82 "Certificate parsing in .NET Core 3.0"
Regardings Microsoft, the issue with parsing PKCS7 certificates on Linux should be fixed with .NET Core 3.0
Issue: https://github.com/dotnet/corefx/issues/2910#issuecomment-500718982

If the fix is available, it would make sense to switch to .NET Core 3.0 to get rid of PeNet.ASN.

[2019-06-12 09:41] secana commented on #80
Hi, you are right that the field in the header is an uint. From the implementation side I use a one class for the x32 and x64 versions of PE files. Because in the x64 version it is a ulong, I just put the x32 bit value in the ulong, too. Hopes that helps.

[2019-06-12 09:41] #80 closed

[2019-07-09 05:21] dgrif opened #83 "signed files reporting as unsigned"
It appears that signed file checks may have an issue, have only tested with a few known signed x64 binaries, no other info at the moment.

[code]

[2019-07-09 07:14] secana commented on #83
Hi @dgrif,

that is some strange behavior. I ran the unit test and added your test cases and all of them work as expected. I know from past issues that there is a difference between .NET Framework, Core and Windows/Linux in the signature check. See https://github.com/dotnet/corefx/issues/34202

Can you provide more information about your setup?

[2019-07-09 21:06] dgrif commented on #83
My dev environments have been a mess, I've been working in VS Code on Win/Mac/Linux and VS on Windows. I noticed it in VS 2015 on my Win10 box.

To replicate it in a more isolated way, I snagged one of the Edge Win10 dev VMs from [MS](https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/) and installed [VS 2015 Community](https://go.microsoft.com/fwlink/?LinkId=532606&clcid=0x409).  I th

[2019-07-09 21:37] dgrif commented on #83
Another test I get the expected result of `True` @secana

Same Edge VM setup as described above, this time I created a console application project, compiled and debugged and using the following code, this time getting results as expected.

[code]

I was debugging/testing my functions in scripts via fsi before putting them into my library, so the issue likely lies with that workflow.

[2019-07-16 05:27] seanxs opened #84 "Debug Directories is not fully dumped"
Hi secana,
Sometimes, the debug directory has more than one entry, but PeNet parsers only the first one.
For example,
  Debug Directories

        Time Type        Size      RVA  Pointer
    -------- ------- -------- -------- --------
    AEA44997 cv            22 00002228      E28    Format: RSDS, {A2E56CF0-FB64-CC3D-EABD-4F16EB0AAB11}, 1, csrss.pdb
    AEA44997 coffgrp      1A4 0000224C      E4C

[2019-07-16 13:18] secana commented on #84
Hi @seanxs,
thx for reporting this. Could you provide me a file with the described behavrior for debugging purposes?

[2019-07-16 13:22] secana commented on #83
@dgrif do you use .NET Core or the old Framework to run the fsx scripts?

[2019-07-17 02:00] seanxs commented on #84
Hi secana
the binary file I used is c:\windows\system32\csrss.exe, I can't upload it
Try this command:link.exe /dump /headers c:\windows\system32\csrss.exe, the output will show as previous.
Actually, lots of PE files in the folder and subfolders "c:\windows" have three debug directories.

[2019-07-17 07:22] secana commented on #84
Hi @seanxs,
I've released a new version 1.0.8 of PeNet which should fix the issue. If there is anything wrong with it, or you find another bug, feel free to open a new issue :)

[2019-07-17 07:22] #84 closed

[2019-07-21 16:06] SteveGilham commented on #83
Following your tweet, I've tried this on my Windows 10 Home dev box and running
[code]
with both commands `fsi` and `dotnet fsi`
[code]
and
[code]

i.e. both routes to the answer on either interactive platform go adrift.

With essentially the same code
[code]
as a .net core 2.1 executable
[code]
and as a framework 4.7.2 executable
[code]
So it looks like something in the interactive environment is

[2019-07-22 07:05] SteveGilham commented on #83
Hypothesis confirmed.
[code]

So while the original report is actually one of an insufficient script, the [swallowing of all potentially informative error information](https://github.com/secana/PeNet/blob/master/src/PeNet/Parser/SafeParser.cs#L42-L47) in the Authenticode handler obscured the problem.

[2019-07-22 07:55] secana commented on #83
@SteveGilham thx alot for helping. So an F# interactive user needs to reference the assembly manually which are referenced by PeNet itself. @dgrif this should solve your problem.

F# community is great!

[2019-07-22 07:55] #83 closed

[2019-07-22 08:24] SteveGilham commented on #83
That's a general .net thing; because the assemblies are not co-located (being in various places under the `packages` folder) as they would be with a deployed executable, their locations have to be specified manually.

[2019-07-24 13:55] secana opened #85 "Remove JSON dependency"
Remove the Newtonsoft.JSON dependency and instead discribe the way to export a PE file as JSON in the help files.

[2019-07-30 07:33] secana opened #86 "Use null-coalescing-assignment operator (C# 8)"
[code]

becomes

[code]

[2019-07-30 07:47] secana opened #87 "Use new constructor syntax (C# 8)"
Example:
[code]

[2019-07-30 07:51] secana opened #88 "Add raw and virtual offset to all properties"
Currently only the property value can be accessed by its name. Add the raw (file) and virtual offset to each property. Show resolved values as a extra property.

E.g.:

[code]

[2019-08-08 21:37] BrianCatlin opened #89 "PeFile.IsDriver is incorrect"
IsDriver is checking if the subsystem is native to determine if an image is a driver or not. This is insufficient. There are native Windows executables (i.e. not linked to a subsystem), such as SMSS.EXE that are user-mode applications. The correct way to determine if an image is a kernel-mode driver is to check if the subsystem is native AND the image is linked against NTOSKRNL.EXE. Windows applic

[2019-08-09 03:54] BrianCatlin opened #90 "class ExportFunction needs to support forwarding"
In addition to being able to export functions and values from an image, the export directory can forward an export to another image (DLL). This allows more flexibility when re-organizing DLLs, as happened with the great Win32 DLL reorganization that started in Windows 7 and continued to Windows 10.
Forwarding is achieved by making an RVA in the AddressOfFunctions array point into the section which

[2019-08-12 13:38] secana commented on #90
Hi @BrianCatlin thanks for the improvement idea. I already implemented it and will release a new version soon.

[2019-08-12 13:38] #90 closed

[2019-08-12 13:40] secana commented on #89
Hi @BrianCatlin, would is be enough to check if NTOSKRNL.EXE is present in the imports additionally to the subsystem or is there a better way?

[2019-08-12 18:44] BrianCatlin commented on #89
Yes, that should be sufficient

[2019-08-13 07:44] secana commented on #89
Fixed in new version.

[2019-08-13 07:44] #89 closed

[2019-09-02 12:54] dmitry-lipetsk opened #92 "Q: How to detect that binary contains IL (.NET) code?"
Hello,

I want use your library with my storage of binary files.

Could you point me - how I may detect that binary file (DLL, EXE) contains IL code?

Thanks.

[2019-09-02 14:10] secana commented on #92
Hi @dmitry-lipetsk. The easiest way to check if a binary is an .NET binary is to check if the COM Descriptor in the Data Directories is set. In that case the `ImageComDescriptor` in `PeFile` would be not `null`.
I hope that helps.

[2019-09-02 15:07] dmitry-lipetsk commented on #92
Thanks :)

[2019-09-03 05:59] #92 closed

[2019-09-18 02:53] dgrif commented on #83
Hi all, sorry for the delayed reply but this definitely sorted me out. I really appreciate the clarification, thanks!

[2019-09-19 00:28] ZonderP opened #93 "ArgumentNullException when there are 0 SectionHeaders"
If there are no SectionHeaders then the PeFile constructor throws a System.ArgumentNullException in
DataDirectoryParsers.cs in the constructor of internal class DataDirectoryParsers when trying to call _sectionHeaders = sectionHeaders.ToArray(); because 'sectionHeaders' is null because the passed in 'ImageSectionHeaders' is null.
In NativeStructureParsers.cs after call to 'InitNTHeadersParser' fro

[2019-09-19 06:55] secana commented on #93
Hi @ZonderP
thx for reporting this. I had a look at the Adobe file. While it has an *.dll extension it is not actually not a Windows PE file. It does not start with an MZ Header nor has any other parsable PE header parts in it.
In that case there is not much I can do. To avoid running in such an error, you can check a file with `PeNet.PeFile.IsPEFile(...)`, before trying to parse it.

[2019-09-19 06:55] #93 closed

[2019-09-19 07:21] ZonderP commented on #93
Oh my!
Sorry I took your time, I was not aware of 'IsPEFile'.
I already tried renaming quite some files to 'dll' when I started using your fantastic utility to see how PeFile constructor behaves and immediately found out that I would need to catch 'IndexOutOfBounds'. This helped for all those files. Thus I thought 'icucnv40.dll' actually would be a 'special' PE file with no sections or what.
Thank

[2019-09-29 05:37] neda-kiya opened #94 "System.IO.FileNotFoundException: Could not load the specified file."
When I try to use PeNet in a Class Library there is an Exception that I couldn't find any solution for it.

Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'PeNet, Version=1.0.9.0, Culture=neutral, PublicKeyToken=6cf2bfba59bcfb3f'. The system cannot find the file specified. ---> System.IO.FileNotFoundException: Could not load the specified file.
   at System.R

[2019-10-01 04:12] BrianCatlin opened #95 "Typo in ExportedFunction.cs"
public bool HasForwad => !string.IsNullOrEmpty(ForwardName);

Should be HasForward

When will the forwarding support be released?

[2019-10-01 10:42] secana commented on #85
Alternative: Use the new JSON API in .NET Core 3

[2019-10-01 12:42] #85 closed

[2019-10-01 12:43] secana commented on #95
@BrianCatlin thx for the hint. I've fixed the typo and will release a new version soon.

[2019-10-01 12:43] #95 closed

[2019-10-14 19:48] secana opened #96 "MetaData Table Module Name value wrong?"
When loading PeNet.dll itself, it shows the value `0x426E` as the MetaData Table Module `Name`. When loaded in CFF Explorer, it shows `0x420F`. In one of the applications has to be an error.

[2019-11-09 13:45] crypticspawn commented on #82
Is this the same reason I am having problems getting this signature information from off this file?

https://drive.google.com/file/d/1PwsLa0nTKpwl4ceC3jh7SOOhrW4lS-n5/view?usp=sharing

[2019-11-11 07:04] secana commented on #82
@crypticspawn the file is not a valid PE file and cannot be parsed at all.

[2019-12-06 00:25] jdu2600 opened #99 "VERSIONINFO resource parser"
It would be helpful to have a parser for the VERSIONINFO resource such that these fields can be queried easily (if they exist).

https://docs.microsoft.com/en-us/windows/win32/menurc/versioninfo-resource

[2019-12-06 00:30] jdu2600 opened #100 ".NET TypeRef hash"
It would be useful to have a .NET TypeRef hash - i.e. the .NET equivalent of the ImpHash

I'm not sure if there is an industry standard though?

I've found two implementations (and it looks like the Avast one is more considered/robust ) -
Avast's decompiler implements a TypeRef hash - https://github.com/avast/retdec/commit/88df33d38e45c999af56d65ef8dc605b76682495
ClrGuard implements a (different)

[2019-12-06 08:19] secana commented on #61
Added in v1.2.0

[2019-12-06 08:19] #61 closed

[2019-12-06 08:22] secana commented on #100
I've though about the idea too, but didn't find the implementations you found. I'll have a closer look at the TypeRef hashes. Would be great for malware analysis to have those.

[2019-12-06 10:09] secana commented on #99
I'll start the implementation on that. Shouldn't take too long.

[2019-12-11 10:45] #99 closed

[2019-12-11 10:47] secana commented on #99
@jdu2600 I've added the Version info structure to the PeNet version "1.3.0-prerelease". It would be great if you could give me some feedback if it works like you expect it.
If so, I'll release the official "1.3.0" version.

[2019-12-12 09:03] secana opened #102 "Name resolving in TypeRef table broken"
Sometimes the names cannot be resolved in the TypeRef table in the .Net header.

Example: "NetCoreConsole.dll" has a lot of unresolved names, where CFF explorer shows valid names.

[2019-12-12 09:15] secana commented on #102
Required to implement #100

[2019-12-12 12:27] secana commented on #102
Fixed in 1.3.1

[2019-12-12 12:27] #102 closed

[2019-12-13 00:35] jdu2600 commented on #99
That's fantastic - all of the raw data is readily accessible.

Though, for my use case, it would be handy to have quick access to some of the fields rather than having to parse the stringTable looking for the matching key.

Perhaps something like -
`var peFile = new PeFile("./Binaries/firefox_invalid_x64.exe");
var vsVersionInfo = peFile.Resources.VsVersionInfo;

// helper properties for the 12 pr

[2019-12-13 08:10] secana commented on #99
That's a good idea. I've build the default string into the "StringTable" structure, as there can be more than one of them, such that putting it into the "StringFileInfo" can be disambiguous.

Example to access: `Assert.Equal("firefox.exe", vsVersionInfo.StringFileInfo.StringTable[0].OriginalFilename);`

The version containing the direct access to the strings is PeNet 1.3.2

[2019-12-17 01:44] henke37 opened #104 "Support streams"
Things can get awkward with container format and such, so you sometimes only get a Stream to work with.

While it would be possible to "merely" read in all of the stream into a buffer, it's not a good option for big files. Ideally the stream would be seeked to the relevant parts and only relevant data would be read in. Not all streams are seekable, but most are.

[2019-12-17 08:57] secana commented on #104
Hi @henke37, do you want something like this `new PeFile(FileStream stream)` or do I misunderstand your request?

[2019-12-17 10:24] henke37 commented on #104
That is the minimum yes, but as I am suggesting in the prose is that it is efficient too. Don't just blindly copy the entire stream into a `byte[]` and call it a day, that is wasteful. Instead, only read the data that is needed. Personally I tend to use a `SubStream` class a lot in my parsing code.

[2019-12-17 12:03] henke37 commented on #104
Also, use plain `Stream` instead of `FileStream` in the constructor, not all streams are files. But feel free to use the `as` operator to upcast the given `Stream` to `FileStream` when possible.

[2019-12-20 14:22] secana opened #106 "Create PeNet.Validator"
Remove the PeValidator class and instead support a clean interface which shows, if the PE file is

- Corrupt (cannot be started by Windows)
- Broken (will crash after being started)
- Reason why the PE file is corrupt/broken (e.g. AddressOfEntryPoint out of file)

Create a new library PeNet.Validator which can be used to validate the PE file. This library uses extension methods on the PeFile and s

[2019-12-20 14:28] secana commented on #86
Fixed

[2019-12-20 14:28] #86 closed

[2019-12-20 14:30] secana opened #107 "Remove FlagResolvers class"
Put the corresponding flag resolvers directly into the classes they are for and remove the static "FlagsResolver". Resolve all values that can be resolved per default.

[2019-12-20 14:31] secana opened #108 "Remove Constants class"
Remove the Constants and DotNetConstants classes and put all constants in the header which uses them.

[2019-12-20 14:33] secana opened #109 "Remove Hashes class"
Remove the Hashes class and put the Hashes as properties into the PeFile.

[2019-12-20 14:38] secana opened #110 "Refactor SignatureInformation"
Instead of a static class, the methods in SignatureInformation should be members of PeFile, e.g. `IsValidCertChain(string filePath, bool online)` should be `peFile.HasValidCertChain(bool online)`.

[2019-12-20 14:39] secana opened #111 "Use Span<> instead of byte[]"
Instead of handing a byte[] array around, use Span<> where ever possible.

[2019-12-20 14:40] secana opened #112 "Change structure/flag names to reflect coding guidline"
Rename all structure, flags and so on to reflect coding guidlines. E.g. `IMAGE_EXPORT_DIRECTORY` -> `ImageExportDirectory`.

[2019-12-20 14:41] secana opened #113 "Support only netstandard2.1"
Drop support for older standards and framework. Remove preprocessor directives.

[2019-12-20 14:44] secana opened #114 "Refactor ExtensionMethods"
- Better names
- Try to get rid of the section header as a parameter to compute the physical address

[2019-12-20 14:46] secana opened #115 "Enable Null checks"
Enable null checks in PeNet and fix corresponding warnings.

<Nullable>enabled</Nullable>

[2019-12-20 14:55] secana opened #116 "Rethink the Parser concept"
Shoud each structure have it's own parser class? Would be better if each class can parse it's own, but how to handle failures?

[2019-12-20 15:01] secana opened #117 "Remove pattern matching from PeNet"
Remove PatternMatching (AhoCorasick) from PeNet. Remove it from the description, too.

[2019-12-20 15:48] secana commented on #82
Issue is still not fixed in .NET Core 3.1. Maybe need to fix it myself in the dotnet repo.

[2019-12-20 15:53] secana commented on #100
Started to research if there are any "industry standard" implementations for a TypeRef hash to implement. Waiting for responses...

[2019-12-20 22:09] ZonderP commented on #113
As far a I understand this document: https://docs.microsoft.com/en-us/dotnet/standard/net-standard
.NET Standard 2.1 isn't implemented by any .NET Framework (Neither 4.6.1 nor 4.7.x nor 4.8 - which will stay the final version of it before .NET 5)
Quote:
'3 .NET Framework won't support .NET Standard 2.1 or later versions. For more details, see the announcement of .NET Standard 2.1.'
.NET 5 GA is sc

[2019-12-22 14:20] secana opened #118 "Linux test job"
Create an Azure job that builds and test on Linux besides Windows to catch error in different OS behavior.

[2020-01-06 10:11] secana commented on #106
Moved to another repo

[2020-01-06 10:11] #106 closed

[2020-02-02 16:04] #118 closed

[2020-02-02 16:05] secana commented on #94
Could not reproduce

[2020-02-02 16:05] #94 closed

[2020-02-09 17:27] secana commented on #115
- [ ] Add `<WarningsAsErrors>CS8600;CS8602;CS8603;CS8625;CS8618;CS8604;CS8601</WarningsAsErrors>` to the source and test project to treat warnings as errors
- [ ] Enable null checks in test project

[2020-02-09 17:34] secana opened #121 "Implement ExceptionData"
Implement UNWIND_INFO ExceptionData array.

[2020-02-09 18:36] secana commented on #115
Nullabe in test project is too much effort.

[2020-02-09 18:36] #115 closed

[2020-02-10 12:01] #117 closed

[2020-02-10 12:04] secana opened #122 "Remove PeValidator"
Simple MZ check is enough, rest should be done by user or in PeNet.Analyzer.

[2020-02-10 12:33] #122 closed

[2020-02-10 12:41] #109 closed

[2020-02-14 20:14] feliwir commented on #104
I just encountered this issue aswell. Would be great if there was a Stream constructor, so i don't have to load my entire PeFile into Memory :)

[2020-02-25 16:02] secana opened #125 "Parse PDB Header"
Parse the PDB header addtionally to the Debug directory.

Struct def: https://github.com/libvmi/libvmi/blob/master/examples/win-guid.h
Info: http://www.debuginfo.com/articles/debuginfomatch.html

[2020-02-25 16:08] secana commented on #125
For the test binary "pdb_guid.exe" a GUID of 0de6dc238e194bb78608d54b1e6fa3791 is expected.

[2020-02-26 15:47] #125 closed

[2020-03-08 13:38] secana commented on #104
Next: Write unit test for `StreamFile`

[2020-03-08 16:42] #104 closed

[2020-03-09 13:01] secana commented on #111
Using IRawFile instead to encapsulate the raw file

[2020-03-09 13:37] #112 closed

[2020-03-09 13:38] secana commented on #87
Won't do.

[2020-03-09 13:38] #87 closed

[2020-03-09 14:16] #110 closed

[2020-03-11 15:07] #107 closed

[2020-03-11 15:33] #108 closed

[2020-03-13 09:32] secana commented on #114
Currently I have not idea how to get rid of the section header parameter

[2020-03-13 10:22] #114 closed

[2020-03-13 10:23] secana commented on #116
Concept works and currently no need to change

[2020-03-13 10:23] #116 closed

[2020-03-13 10:23] secana commented on #88
Too much work an no use case atm.

[2020-03-13 10:23] #88 closed

[2020-04-11 20:17] fandrei commented on #113
@ZonderP @secana
+1
targeting netstandard 2.1 instead of 2.0 makes NetPe incompatible with all the versions of .NET Framework

[2020-04-11 20:38] fandrei opened #128 "Wrong IsExe result for PeNet.dll"
IsExe returns true for PeNet.dll v2.0 - should be false instead

[2020-04-11 21:14] fandrei opened #129 "Strip off one of sections"
Is it possible to remove one on file's sections (particularly .rsrc) and save the modified file?

[2020-04-12 10:54] secana commented on #128
Hi @fandrei, the "IsExe" is right in this case, as the dll is also an executable. The flag is based on the IMAGE_FILE_EXECUTABLE_IMAGE flag. This is a bit strange but that's how Windows works. The "Exe" flag does not tell if the the file is an "*.exe* or an "*.dll* but if it's an executable image, which a dll usually is. So if you want to know if something is an "*.exe", you need to check if the e

[2020-04-12 10:54] #128 closed

[2020-04-12 11:00] secana commented on #113
Problem is that netstandard2.0 does not support `span` which I use heavily in the library 2.* version. Before the PeNet 2 version, I had many `#ifdef` all around the library which made it a pain to maintain. With the upcoming .NET 5 which unifies framework and core again, I'm not sure if it's worth the pain.

Do you have any current workflow where .NET Core cannot be used but only Framework?

[2020-04-12 15:19] secana commented on #129
Good question. I've tried it out and was able to remove the rsrc section from calc.exe while keeping the binary executable.

I've published a new version (2.1.0-alpha1) which now has the member `PeFile.RemoveSection("sectionName")` which removes a section from the PE file. Example code:

[code]
Feedback is welcome, as I suspect that I did not get it right for every case on the first try. The new v

[2020-04-12 15:34] fandrei commented on #113
@secana I see. I'm rewriting the project to .NET Core, but it's quite big.

[2020-04-12 17:14] fandrei commented on #129
@secana it seems that it only removes the section header but keeps the section's content; I wonder if it's possible to remove the section body altogether?

[2020-04-12 18:07] secana commented on #129
@fandrei actually it should remove the content per default. Is the binary you work on confidential or could you share it? If so, I can have a look at it again tomorrow.

[2020-04-14 18:25] secana commented on #129
Ah sorry, the code example was wrong. The flag disables the strip of the content.

[code]

That should work.

[2020-04-14 18:25] #129 closed

[2020-04-16 19:04] fandrei commented on #129
@secana this works, thanks.

[2020-04-23 14:22] secana opened #134 "Use memory mapped files to read the PE file"
Currently a stream or byte-array can be used. [Measurements](https://secanablog.wordpress.com/2020/04/23/net-random-access-performance-on-files-part-2/) have shown that memory mapped files are faster and use even less memory.

[2020-04-23 14:23] secana commented on #100
Experiment with a TypeRefHash has started, if the results are good, I'll add the code to PeNet.

[2020-04-25 11:54] secana commented on #134
Released in PeNet 2.2.0

[2020-04-25 11:54] #134 closed

[2020-04-27 11:31] secana opened #136 "Return ComTypeLib as GUID"
The ComTypeLib from the .NET header is returned as a string but it's a GUID. Return a nullable GUID instead.

[2020-04-30 19:59] es3n1n opened #138 "How to get TLS Directory RVA"
How i can get TLS Directory RVA which is stored in NtHeaders->OptionalHeader
![image](https://user-images.githubusercontent.com/40367813/80753611-d7e32c00-8b2d-11ea-865e-c70f9d28a06e.png)

[2020-04-30 23:03] secana commented on #138
[code]

[2020-05-01 00:17] #138 closed

[2020-05-04 15:45] gfs opened #140 "Fatal Error Internal CLR Error when Calling Get Authenticode on ARM binaries"
When attempting to fetch authenticode info from the attached ARM binary (a native runtime of System.Data.Sqlite) causes an unrecoverable crash.

Here's the file that causes the crash: [e_sqlite3.dll.zip](https://github.com/secana/PeNet/files/4575628/e_sqlite3.dll.zip).

Here's the stack trace
[code]

Here's `GetSignatureStatus` https://github.com/microsoft/AttackSurfaceAnalyzer/blob/7e77e4d81a344f

[2020-05-04 17:21] secana commented on #140
Hi @gfs! That's an interesting case. I'll have a look at it, thx for reporting the bug.

[2020-05-04 17:56] #140 closed

[2020-05-04 18:33] secana commented on #140
Release a fix in v2.2.1
Should be available soon on NuGet. It not detects that there is no signature information without crashing.

[2020-05-04 18:44] gfs commented on #140
Thanks for the quick fix!

[2020-05-06 06:26] gfs opened #141 "Fatal Internal CLR Error Getting Authenticode Info"
[code]

[This](https://github.com/microsoft/AttackSurfaceAnalyzer/blob/4490a0213830a3dcbff5d124b682afedf9d65e08/Lib/Collectors/WindowsFileSystemUtils.cs#L32) is the line in `GetSignatureStatus`.

[Microsoft.Management.Infrastructure.Native.dll.zip](https://github.com/secana/PeNet/files/4585089/Microsoft.Management.Infrastructure.Native.dll.zip) is a example of a file that causes the crash.  It is

[2020-05-06 07:45] #141 closed

[2020-05-06 07:47] secana commented on #141
ARM binaries seem to be a problem as I never tested them with PeNet. I fixed the issue above and hope to catch all ARM binaries with it. If you find any more samples that do not work correctly let me know. I want the library to be as complete as possible. New version 2.2.2 should be on NuGet in a few minutes.

[2020-05-06 16:10] gfs commented on #141
Thanks for the quick response! Will definitely let you know if I run into any interesting binaries.

[2020-05-06 16:12] gfs opened #142 "Fatal Internal CLR Error Getting Authenticode from Attached"
This one is a dependency in a linux build of one of my tools.  It passes the `PeFile.IsPeFile(Path)` check. [Microsoft.VisualBasic.Core.dll.zip](https://github.com/secana/PeNet/files/4587936/Microsoft.VisualBasic.Core.dll.zip)

[code]

[This](https://github.com/microsoft/AttackSurfaceAnalyzer/blob/4490a0213830a3dcbff5d124b682afedf9d65e08/Lib/Collectors/WindowsFileSystemUtils.cs#L32) is the line in

[2020-05-06 16:31] secana commented on #142
That's a real interesting one! It has the machine type of "0xfd1d" which is undocumented by Microsoft (https://docs.microsoft.com/en-us/windows/win32/debug/pe-format#machine-types) and I've never seen it before. I've added the unknown architecture as a x64 bit one and the file parses now correctly. As soon as the build pipelines ran through, a new version should be available.

[2020-05-06 16:53] secana commented on #142
2.2.4 is on Nuget. Let's see what you find next :)

[2020-05-06 16:53] #142 closed

[2020-05-06 22:34] gfs opened #143 "Fatal Internal CLR Error"
[code]

I found the file at `C:\Users\Gstoc\.nuget\packages\microsoft.netcore.app.runtime.osx-x64\3.1.3\runtimes\osx-x64\lib\netcoreapp3.1\Microsoft.VisualBasic.Core.dll`.

[Microsoft.VisualBasic.Core.dll.zip](https://github.com/secana/PeNet/files/4589793/Microsoft.VisualBasic.Core.dll.zip)

[2020-05-07 06:35] secana commented on #143
Again an undocumented machine type 0xC020. I gave feedback on the MS documentation to add the missing types. Version 2.2.5 with a fix is on it's way to nuget.org.

[2020-05-07 06:35] #143 closed

[2020-05-07 07:03] secana commented on #143
found another one. version 2.2.5 should hopefully cover all cases.

[2020-05-07 07:53] #136 closed

[2020-05-07 20:41] gfs commented on #143
Where did you give feedback?  You can submit a PR to update the file by editing the .MD file here: https://github.com/MicrosoftDocs/win32/blob/docs/desktop-src/Debug/pe-format.md.

[2020-05-11 11:15] secana commented on #143
Hi gfs, submitted feedback over the "do you like this page" as they is no comment section.

I would like to make PR but the I know only the value but not the correct name of the constant. If you are able to find that out, that would be great. The values are:

- 0xC020
- 0xfd1d

[2020-05-11 13:01] gfs commented on #143
Got it. I will try to see if I can find the right folks internally.

-------- Original Message --------
On May 11, 2020, 4:15 AM, Stefan Hausotte wrote:

[2020-05-13 08:03] eshagalawatta95 opened #144 "Error in adding package"
Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not install package 'PeNet 2.2.6'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.0', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

I can't install ur package

[2020-05-13 08:34] secana commented on #144
Hi  @eshagalawatta95, PeNet does not support the old Framework 4.0 anymore. You need at least netstandard2.1 to run it.

[2020-05-13 08:34] #144 closed

[2020-05-13 21:14] gfs opened #145 "Support all platform .NET header types"
See https://github.com/dotnet/runtime/issues/36364 for details from the .NET team.

The PE machine type Documentation available is just for Windows, but here's the actual headers from .NET binaries which are still constructed as PEs.

https://github.com/dotnet/runtime/blob/61c658183231100a5836e833c86446ff51a4654b/src/coreclr/src/inc/pedecoder.h#L90-L104

[2020-05-18 06:11] #145 closed

[2020-05-30 21:22] patrickpissurno opened #147 "How to add a new import to a PE file?"
Hello,

Thanks for the library. I took a look at both the docs, the issues and the source code, but couldn't find something similar to what I need to do: programatically add a new import to a PE file.

To read what are the current imports I use `PeFile.ImportedFunctions`, but I noticed it is read only. Any tips on how to achieve that?

My goal is to write an auto patcher that will be able to fetch

[2020-05-31 19:05] secana commented on #147
Hi @patrickpissurno, currently it's not possible to add an import but I'll look into that in the next few days. I guess it should be possible without to many hassles.

[2020-05-31 19:29] patrickpissurno commented on #147
I'd really appreciate that! Take your time. Thanks!

[2020-06-02 07:56] secana commented on #147
Hi @patrickpissurno I just published `PeNet 2.3.0-alpha1` with the possibility to add imports. I'm pretty sure I broke something, but a new import is available in the import table afterwards. I'll try to debug the issues as soon as I've a bit more time.

If you want to give the alpha a try:

[code]

[2020-06-02 11:44] secana commented on #147
I guess I fixed the error. I'm able to add multiple new imports to calc.exe without breaking it. `PeNet 2.3.0-alpha2`. @patrickpissurno can you give it a try?

[2020-06-02 13:21] patrickpissurno commented on #147
Thank you so much! I'll give it a try right now and reply with the results.

[2020-06-02 14:29] patrickpissurno commented on #147
I tested three different scenarios and all of them worked flawlessly. You did an amazing job. As far as I'm aware of (and I searched quite a lot) this is the first library to implement this feature programmatically.

What I tested:
- modifying a 32bit exe to load a 32bit dll
- modifying a 32bit dll to load another 32bit dll
- modifying a 64bit dll to load another 64bit dll

All of them work.

Than

[2020-06-02 18:01] secana commented on #147
Happy to hear that it works. I'll keep the alpha out for a few more day in the case that you stumble upon a bug. If not I'll merge it into master and release 2.3.0.

[2020-06-02 18:01] #147 closed

[2020-06-05 13:34] secana commented on #147
Documentation to add imports: http://secana.github.io/PeNet/articles/imports.html

[2020-06-10 09:44] secana commented on #100
First implementation released in PeNet 2.4.0-alpha1

[2020-06-10 10:29] secana commented on #100
- [ ] Next: Add documentation article

[2020-06-10 15:30] pfamircea opened #151 "Resource names not parsed properly"
When you have a bunch of resources, also nested and such, the names are not parsed properly. (since they are parsed till the first null char, while they appear as an array of [length][name].

Got a branch prepared. Can someone provide push access so I can get a branch up?

Thanks.

[2020-06-11 09:48] secana commented on #151
Hi, you fix is really appreciated. Could you do me favor and create a pull request? That makes it easier to review and the CI pipeline with tests runs.

[2020-06-11 13:29] pfamircea commented on #151
I tried that already yesterday and now again, but I still get
`remote: Permission to secana/PeNet.git denied to pfamircea.
fatal: unable to access 'https://github.com/secana/PeNet.git/': The requested URL returned error: 403
`

[2020-06-11 13:51] secana commented on #151
You need to fork the repository and than create a pull request.

- [Github Fork](https://help.github.com/en/github/getting-started-with-github/fork-a-repo)
- [Github Pull](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork)

[2020-06-11 16:41] pfamircea commented on #151
Hopefully this cuts it: https://github.com/secana/PeNet/pull/152

[2020-06-15 09:52] #151 closed

[2020-06-18 10:07] #100 closed

[2020-06-20 02:15] jdu2600 commented on #100
Awesome. :-)

Keen to see what you came up with. It looks like you intend to blog about it?

Next to get it added to VirusTotal. :-p

[2020-06-20 06:59] secana commented on #100
Blog post is 99% finished. Just need to get it through our PR team. I hope that VT adapts the hash, too. After the blog, I will have a look at the most popular Python PE library and try to implement the TypeRefHash there too, as I guess that would help adoption a lot.

[2020-06-23 09:35] secana commented on #100
Blog post is public: https://www.gdatasoftware.com/blog/2020/06/36164-introducing-the-typerefhash-trh

[2020-07-03 15:22] stonedreamforest commented on #23
@secana  i need install it in my wpf project, but i get  a error:
[code]
do I need to reopen a new issue?

[2020-07-03 18:55] ZonderP commented on #23
All versions >= 2 cannot anymore be used in projects targeting .Net Framework.
You either need to rewrite your code to target .Net Core or stick to an older version like you obviously already did.
Find why this is so here:
https://github.com/secana/PeNet/issues/113

[2020-07-20 15:48] KulaGGin opened #160 "Could not install package 'PeNet 2.4.0'"
When I try to install PeNet NuGet package, I get this output in the from the Package Manager:

Is it not possible to use PeNet in .NETFramework projects?

[2020-07-20 16:41] KulaGGin commented on #160
Sorry, I missed that it's .NET Standard 2.1. Checked [the compatibility matrix](https://github.com/dotnet/standard/blob/master/docs/versions.md#net-standard-versions): can't consume .NET Standard 2.1 project in .NET Framework project.

[2020-07-20 16:41] #160 closed

[2020-07-31 18:26] Ceiridge opened #161 "Sections incorrectly created (with AddImport)"
Hello,
I'm trying to use PeNet as a method of dll injection for my Chromium Patcher and I've encountered some errors:
When adding any import, when the import directory is located in `.rdata` for example, it not only creates a new section with the huge size of `.rdata`, but then it also doesn't work. The PE instantly crashes.

I looked into this issue with PE-Bear and it shows this (see first scree

[2020-08-01 07:40] secana commented on #161
Thanks for reporting the bug. Give me some time to have a look at this, as it seems to be complicated.

[2020-08-03 15:29] Ceiridge commented on #161
It looks like each section's raw size somehow always has to end with 00 (e. g.: 0x17E00, 0xA00, 0x200, 0x1800), whereas the virtual size is the actual size that is used of the section, which means that it can't be bigger than the raw size, of course. Maybe it just works if you somehow round the required size up until it reaches such a valid number?

This might also help you:

[2020-08-27 14:57] gfs opened #165 "MemMove Fatal Crash"
I repro'd a crash a while ago that takes down the whole process unrecoverably:
https://github.com/dotnet/runtime/issues/38218

The feedback from the .NET team was:

I recently had a user have another repro of the same issue:

https://github.com/microsoft/AttackSurfaceAnalyzer/issues/535

This file should reproduce it https://github.com/secana/PeNet/files/4589793/Microsoft.VisualBasic.Core.dll.zip

[2020-08-27 15:09] gfs commented on #165
This might be a false alarm. I just noticed this build was using an out of date version.  I'll reopen if this still repros.

[2020-08-27 15:09] #165 closed

[2020-09-02 06:52] secana opened #166 "API Docu missing"
The API documentation is missing for some reason: http://secana.github.io/PeNet/api/index.html

[2020-09-02 06:53] secana commented on #82
Microsoft did not fix the bug for .NET 5.0 but instead moved the issue to .NET 6.0, so no fix in the next time.

[2020-09-19 10:21] KulaGGin commented on #161
I have the same problem of .exe crashing on start immediately when I try to add import to it. It works just fine when I use tools like CFF Explorer to import a function.

I don't remember how but I managed to work around this bug by adding padding at the end of the file to make it the size that divides nicely by 0x10000:
[code]

[2020-09-21 06:30] #166 closed

[2020-09-21 08:56] secana commented on #161
Hi @KulaGGin and @Ceiridge,

I finally found time to look into the problem in more detail and thanks to the data provided by you I hope I fixed it. The Chrome example works at least now.

I uploaded a new version 2.4.1-alpha2 with the fix to nuget.org. Could you verify that it works for you now?

[2020-09-21 13:33] Ceiridge commented on #161
Thank you for fixing it, although I don't need the import adder anymore, as my project now uses a different method to detect new processes.

[2020-09-21 18:56] #161 closed

[2020-10-14 01:56] malwarefrank opened #171 "TypeRefHash string sort is implementation-specific"
It looks like OrderBy() is doing a [StringSort](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.compareoptions?view=netcore-3.1), which is different than the default sort in other languages.  I noticed this when I attempted to implement your algorithm in Python.  Some of my TypeRefHash values matched and some didn't.  In particular, the ones where the TypeName or TypeNamespace con

[2020-10-27 01:40] Dewera opened #173 "Expose methods to aid in converting address types"
I think most people working with this library are likely to need to convert between file offsets, relative virtual address and virtual addresses.  Whilst these can be computed manually using the information present in the headers, due to how often these conversions are needed I think it would a good idea to expose methods to do this for consumers of the library.

Proposed methods

[code]

Would be

[2020-10-27 07:17] secana commented on #173
Sure, contributions are always welcome. Did you check if the methods in [ExtensionsMethods.cs](https://github.com/secana/PeNet/blob/master/src/PeNet/ExtensionMethods.cs)  are already what you need? If not, feel free to create a PR!

[2020-10-27 08:02] Dewera commented on #173
I actually didn't realise these existed - They're exactly what I was describing!

[2020-11-25 19:05] gfs opened #178 "Internal CLR Error Parsing Exe"
## Background
I had a bug filed for Attack Surface Analyzer.  The user has identified (I've confirmed) that PE Net seems to choke on this binary.

See https://github.com/microsoft/AttackSurfaceAnalyzer/issues/560 for original report.

## PENet Trace

at System.Buffer._Memmove(Byte ByRef, Byte ByRef, UInt64)
at System.Buffer.Memmove(Byte ByRef, Byte ByRef, UInt64)
at System.Span1[[System.Byte, Syst

[2020-11-25 19:05] gfs commented on #178
This presents as a Segmentation Fault instead of a CLR error when run on Mac OS.

[2020-11-25 19:08] gfs commented on #178
This repros on the latest version.

[2020-11-25 22:01] secana commented on #178
Hi @gfs,

I had a look at the binary provided by you. I don't have a Mac and on Windows it works fine, so it seems to be an CLR issue. I released a possible workaround (version 2.5.1-alpha1), but I cannot verify it as I do not have access to a Mac.

Background:
When parsing the certificate information, the `BCertificate` member of the PE file is accessed with a `Span<byte>(from, to)`. Problem with

[2020-11-26 00:43] gfs commented on #178
Thanks.

We were also seeing this with 2.4.2 on Windows and both versions on Mac.

Will try to confirm next week (considering holidays) if this file still crashes ASA on Windows with 2.5.0 of PE Net.

I'll also try the alpha then.

[2020-11-30 19:25] gfs commented on #178
Can confirm that 2.5.0 still exhibits failure on Windows but the Alpha fixes handling the sample file reported.

[2020-12-01 08:36] secana commented on #178
Thx for the feedback. I released PeNet 2.5.1 which contains the fix.

[2020-12-01 08:36] #178 closed

[2020-12-05 15:09] secana opened #182 "Implement managed hashes"
Implement managed hashes for 2.6.0 (see branch 2.6.0-alpha1)

Implement

- [x] MD5
- [x] SHA1
- [x] SHA256

use https://github.com/bcgit/bc-csharp/tree/master/crypto/src/crypto/digests for reference.

Implement faster with Span and stackalloc.

Remove bouncy castle dependency from PeNet.

Use the hashes to compute the values in PeFile:

- [x] MD5
- [x] SHA1
- [x] SHA256
- [x] ImpHash
- [x] TypeRef

[2020-12-07 10:35] #182 closed

[2021-02-14 18:40] sgso opened #186 "Make ComputeAuthenticodeHashFromPeFile public"
Hello,

first thing: Thank you for this great library! I'm using PeNet to verify files against their Authenticode signatures and now want to extend this to security catalog signed files as well. I use this to cull irrelevant files from forensic images (LE).

My request: It would be extremely handy if it was possible to calculate PE hashes (parameterized by hash algorithm) with PeNet. Since I'm try

[2021-02-15 07:25] secana commented on #186
Hi @sgso,

happy to hear that PeNet is of use to you. I'm not sure, if I understand what you need correctly.

Currently PeNet supports a few hashes out of the box (MD5, SHA1, SHA256, ImpHash, TypeRefHash). For more information have a look at:
File hashes: http://secana.github.io/PeNet/articles/filehash.html
ImpHash: http://secana.github.io/PeNet/articles/imphash.html
TypeRefHash: http://secana.git

[2021-02-15 09:13] sgso commented on #186
@secana I'm interested in the "PE hash"/ "Authenticode Hash" calculated in
 `private IEnumerable<byte>? ComputeAuthenticodeHashFromPeFile(HashAlgorithm hash)` in the file `/Header/Authenticode/AuthenticodeInfo.cs`.

[2021-02-15 15:12] secana commented on #186
Alright, I released a new prerelease version "2.6.1-pre1" where the method is public. It should be on NuGet in a few minutes, as soon as the Nuget index found it.
If that works for you, please notify me shortly and I'll merge the changes to master an release "2.6.1".

[2021-02-17 08:36] sgso commented on #186
Perfect. Thank you very much.

[2021-02-17 08:36] #186 closed

[2021-03-14 01:45] yoshiask commented on #113
I'd like to point out that Microsoft has had a NuGet package that adds various `System.Memory` constructs to .NET Standard 2.0, including `Span<T>`: https://www.nuget.org/packages/System.Memory/

Is it possible to revisit this change and reintroduce support for .NET Standard 2.0?

[2021-03-15 08:05] secana commented on #113
Hi @yoshiask that's a good idea. I'll look into it and see if I can release a .netstandard 2.0 version without too much work.

[2021-03-19 23:47] pavledev opened #192 "Support for .NET Framework 4.8"
Can you please add support for .NET Framework 4.8?

[2021-04-26 23:45] SapientGuardian opened #194 "AddImport ArgumentOutOfRangeException Regression (v2.4.1+)"
Hello,

Version 2.4.1 of this library made a change to AddImports ( https://github.com/secana/PeNet/compare/v2.4.0...v2.4.1#diff-acaaea654416d997f1e18c07aeeb102b4934dcfda5ff6e66b5852479f5c20f08 ) which causes an ArgumentOutOfRangeException to be thrown on some inputs.

[code]

I have added a regression test demonstrating this issue here:
https://github.com/SapientGuardian/PeNet/tree/AddImportRegre

[2021-04-27 11:35] secana commented on #194
Hi @SapientGuardian,

thanks for reporting the regression. A PR with a failing test very welcome! It helps me a lot to fix the issue, so please create one. I'll have a look at it asap and release a fix.

[2021-04-27 11:42] SapientGuardian commented on #194
Submitted https://github.com/secana/PeNet/pull/195 . Thanks for the quick response, and for creating this library!

[2021-04-27 14:52] secana commented on #194
I hopefully fixed it finally. A new version 2.6.3 should be available in the next minutes, as soon as nuget.org indexed it. I'll keep the issue open until you had time to verify that it works as expected.

[2021-04-27 15:26] SapientGuardian commented on #194
Confirmed, 2.6.3 does not have the issue, and the resulting executable consumed the import successfully. Thanks for the quick fix!

[2021-04-27 15:26] #194 closed

[2021-04-30 00:58] IllidanS4 commented on #192
I'd also welcome support for .NET Standard 2.0; that would solve the issue.

[2021-04-30 00:59] IllidanS4 commented on #113
It should be noted that .NET 5 is in no way a reunification of .NET Framework and .NET Core. It is a new and rebranded version of .NET Core.

[2021-04-30 01:36] IllidanS4 commented on #113
@secana I've tried downgrading the project to .NET Standard 2.0. To make it work, it needs the System.Memory package, but also IndexRange to polyfill the new types.

The remaining errors are missing functions in .NET that would take spans. One is in MMFile.cs, easily fixed with `fixed`. Others are in Encoding, should be fixable in the same way. Then there are Guid constructions, which would have t

[2021-05-02 15:05] secana commented on #113
Hi @IllidanS4,

can you create a PR? Even if it is not 100% finished, it would be a good start.

[2021-05-02 18:26] IllidanS4 commented on #113
[Created.](https://github.com/secana/PeNet/pull/197)

[2021-07-30 16:03] rosenqui-cysiv opened #199 "OutOfMemory exception when accessing StringFileInfo of oleaut32.dll"
`StringFileInfo.ReadChildren` gets itself into an infinite loop when trying to access the string table of `oleaut32.dll`.

This appears to be because it hits a segment of length 0, so the loop keeps adding the same zero-length item and never exits since the offset never moves.

Note that this is the 64-bit `oleaut32.dll` of length 831544 from Windows 10 20H2:

[code]

[2021-08-01 09:39] secana commented on #199
I'll have a look. Thanks for reporting the bug!

[2021-08-01 11:43] secana commented on #199
@rosenqui-cysiv Could you check if the problem still exists in 2.6.4-pre1?

[2021-08-04 02:43] evandrix opened #201 "Typographical Error @ https://penet.azureedge.net/StringFileInfoX"
under section "String Tables" > Property ~~wLentgh~~ wLength

[2021-08-04 05:35] evandrix opened #202 "COM TypeLib ID (TLID) parsing broken?"
https://github.com/secana/PeNet/blob/1172a5fd9164b5ae9d4c8fb06219b78b1aff8057/src/PeNet/Header/Net/NetGuids.cs#L58-L136
- running the referenced original code https://github.com/cylance/GetNETGUIDs/blob/master/getnetguids.py,
- and verifying with VirusTotal (VT) https://www.virustotal.com/gui/file/af7ce8dcb16b6344de9856e96ce83b642bcc5ee1c0d29e3a0dcd96e67c65a085/details,
- the COM TypeLib ID should

[2021-08-04 10:09] secana commented on #201
@evandrix  thx for reporting. Typo is fixed.

[2021-08-04 10:09] #201 closed

[2021-08-04 10:36] #202 closed

[2021-08-04 10:37] secana commented on #202
@evandrix thx for reporting the bug. Should be fixed in PeNet 2.6.4, which is available in a few minutes on Nuget

[2021-08-04 10:39] secana commented on #199
Fixed in 2.6.4

[2021-08-04 10:39] #199 closed

[2021-08-09 12:12] rosenqui-cysiv commented on #199
Sorry @secana - I was on vacation and just returned now. For what it's worth, I was able to reproduce it with this 2-liner:
[code]

[2021-08-11 13:29] secana commented on #199
Does the issue still exists in the latest PeNet version (2.6.4)? I'm not able to reproduce the problem anymore with that version.

[2021-08-15 14:59] Xkein commented on #192
Hey, i have try some change and seems it work fine under net48. please see my [commit](https://github.com/Xkein/PeNet/commit/1d756ef5a2764c4a81ed838b8b8e5ee9e184bc9a).
By the way, i wonder what problem did you meet when you converting into net48?

Thank you for making the PeNet!

[2021-08-16 14:33] secana commented on #192
Hi @Xkein you commit looks very promising. Could you create a PR? If all tests succeed, I'll publish a new version with support for .NET 4.8

[2021-08-16 14:59] Xkein commented on #192
get it.

[2021-08-17 06:49] secana commented on #192
@Xkein thx for the PR. New version (2.7.0) with your additions it out.

[2021-08-17 06:49] #192 closed

[2021-08-17 06:50] secana commented on #113
Version 2.7.0 with support for .NET Framework 4.8 it released

[2021-08-17 09:26] IllidanS4 commented on #113
@secana I am afraid this issue is not yet resolved. I was hoping to use PeNet in a .NET Standard 2.0-targeting library, but that is still not possible. Is there something that prevents changing the .NET Framework 4.8 version to .NET Standard 2.0?

[2021-08-17 13:51] #113 closed

[2021-08-17 13:52] secana commented on #113
Added netstandard 2.0 support in v2.8.0

[2021-09-26 03:44] emersonjr opened #207 "How to modify import table after adding entry?"
First of all congrats for the work @secana !

Following instructions I managed to add a new DLL to the import table of an exe file
But now I would like to edit its import table to have my added DLL to be the first import, originally there's already an entry that is the first one. How can I do that?

[2021-09-27 12:08] secana commented on #207
Hi @emersonjr, that's a good question. I've never done it but I see two options. The first is to reorder all IMAGE_IMPORT_DESCRIPTOR structures in-memory and writing them back. I guess that is overkill and is likely error prone. Instead what you could try is to just change what the first and last IMAGE_IMPORT_DESCRIPTOR  points to and basically just switch their values.

I'll try to explain it a b

[2021-10-05 16:53] #207 closed

[2021-10-22 08:41] send010 opened #211 "What to do if the file has multiple digital signatures？"
What to do if the file has multiple digital signatures？

[2021-10-30 22:52] aroenai opened #214 "Unclear how to setup and use PeNet"
I realize this is probably geared more towards more advanced users but I can't seem to find any information on how to setup a project and use PeNet for changing imports. The https://secanablog.wordpress.com/2020/06/12/add-an-import-to-a-pe-file/ page doesn't go into any detail for any of the environment setup and goes straight to code.

Essentially I'm looking to replace the imports on an old Win3

[2021-11-01 01:58] send010 commented on #211
[File](https://github.com/send010/BinFIle/blob/main/360Safe.exe)

mycode:

        public static List<X509Certificate2> GetSigningCertificates(this PeFile pefile)
        {
            var data = DecodeCertificateData(pefile.WinCertificate?.BCertificate.ToArray());
            var result = new List<X509Certificate2>();
            result.Add(pefile.Authenticode.SigningCertificate);
            for

[2021-11-01 10:29] secana commented on #214
Hi, here is short "how to add an import" documentation http://secana.github.io/PeNet/articles/imports.html

I'm not sure if replacing the imports will work. Some in the code, a function will call WinHelpA and the loader needs to be able to find it under the same name. As import are resolved on runtime and not statically, you cannot change that in the PE file.

Maybe a much easier approach would be

[2021-11-01 14:17] aroenai commented on #214
That's what I'm doing already ( https://github.com/aroenai/Monopoly95 ), most of the imports are just renamed functions in modern gdi32.dll since this came out in the Win 3.1 Era. I'm not concerned about changing the assembly since I'm already having to make other changes and should have space to modify it so it works with the new imports.

The original question remains though, since you linked to

[2021-11-23 16:42] ddash-ct opened #219 "TypeRefHash Questions/Inconsistencies"
While attempting to review and leverage the `TypeRefHash`, we came across a few issues we would like to bring up and hopefully resolve through discussion/implementation:

- Could you explicitly state the sort order in the definition of `TypeRefHash`? It seems the sort order is the default C# sort order, which may cause some problems as stated in subsequent bullets:
- Since the C# default sort orde

[2021-11-26 07:14] secana commented on #219
Hi @ddash-ct the topic came up a few times already. It is definitely a design flaw that we haven't on our minds when we created the TRH.

As far as I can see, the best would be to bring out a TRH 2.0, with a defined sort order that is easy to port to other languages.

For the case argument, I'm not sure if that is an issue, as .NET TypeRefs are case-sensitive as well, e.g. `System.Text.Json` is no

[2021-12-05 06:39] laomms opened #220 "how to remove a function in import table"
![1](https://user-images.githubusercontent.com/23111726/144736396-984811ae-7b75-40ee-80d2-6bb1bc327ee6.png)

how to remove a dll in import table. Just like the Dll.dll in the picture

[2021-12-06 14:55] FlorianHockmann opened #221 "ArgumentOutOfRangeException thrown during computation of TypeRefHash"
We frequently see this exception in our processing. I don't know yet whether this is caused by a bug in PeNet or whether the .NET header is malformed.

Full stack trace:
[code]

This malware sample for example leads to the exception: https://www.virustotal.com/gui/file/f88e743fdd410a89b7084076883164120e3abe7f8f08ad65bb0fec05b392d3b1/

[2021-12-07 08:33] FlorianHockmann commented on #221
I just looked a bit deeper into this and found the place where the exception is thrown. It's in the beginning of the [`ParseTableDefinitions` method](https://github.com/secana/PeNet/blob/bcd781c43a061a566eb98ec8cdb32e71732d8cda/src/PeNet/Header/Net/MetaDataTablesHdr.cs#L182):

[code]

`ResolveMaskValid` returns a list of 27 entries, but `tables` has 64 entries. This leads to the `ArgumentOutOfRang

[2021-12-08 14:19] secana commented on #221
I've looked into the sample and it seems to be crypted somehow. The data in the metadata tables is broken and cannot be recovered. None the less, PeNet should't just crash on that, but instead fail to parse the broken parts. I'll see what I can do about that.

[2021-12-08 15:43] secana commented on #221
Mitigated in PeNet 2.9.2

If  a broken table is encountered, the TRH is "null" instead of an exception.

[2022-01-09 14:13] Washi1337 commented on #221
The file is not broken, but (ab)uses a feature that the CLR implements but is not specified in ECMA-335.

The storage header can contain additional extra data right after the row counts of the tables. This is a 32-bit integer field that is only present when an undocumented flag (`0x40`) is set in the `Flags` field (also known as `HeapOffsetSizes`) of the tables stream header (`#~`, `#-` or `#Schem

[2022-01-11 21:13] Project-Magenta opened #223 "Can Sanity check be removed"
I am trying to parse some PE files but I cannot access the contents of DirectoryEntries because it is null
This is because of an arbitrary limit that is never explained why we need it
Many PE files legitimately have more than 1000 resources in one directory and I cannot access those
Downgrading to 0.4.3 is not an option for me because of the very different interface and less features
[![Image of L

[2022-01-12 02:29] Project-Magenta commented on #223
Temporary workaround: Patch the DLL file and place the patched version in %HOMEPATH%\.nuget\packages\penet\2.9.2\lib\net5.0

[2022-01-12 02:50] Project-Magenta commented on #223
Alternate workaround:
[code]

[2022-01-13 11:53] MrJul opened #224 "ImageOptionalHeader.Subsystem isn't settable"
When upgrading from PeNet 1.6.1 to 2.9.2, I was blocked due to the lack of a setter for `ImageOptionalHeader.Subsystem`, which existed before. Since all other properties are settable, I assume it's simply an oversight, and can open a PR if needed.

Relevant code: https://github.com/secana/PeNet/blob/efd720667b4bdf0e10fe9c2414fe54da5815c760/src/PeNet/Header/Pe/ImageOptionalHeader.cs#L261:263

[2022-01-16 10:37] secana commented on #224
Hi @MrJul,

a PR would be appreciated!

[2022-01-16 10:38] secana commented on #221
Hi @Washi1337,

would you be interested in creating a PR?

[2022-01-16 15:59] Washi1337 commented on #221
Sure I can have a look at it when I get the time somewhere next week. I am not too familiar yet with the internals of this library yet, so will have to read up on that first.

[2022-01-17 09:58] MrJul commented on #224
Done, PR #225 open :)

[2022-01-17 10:36] #224 closed

[2022-01-30 16:15] #221 closed

[2022-02-08 21:36] Lifka opened #227 "Infinite loop"
Hi,

I was trying PeNet to analyze samples and it's awesome. But I think I found a condition that makes it crash, if you want to take a look, you can try using this sample: [02fc683cb53ab54ddd1b25a28875cccccc2c5c20419a173a46e7b908706ce49546](https://www.virustotal.com/gui/file/02fc683cb53ab54ddd1b25a28875cccc2c5c20419a173a46e7b908706ce49546/details)

The library enters an infinite loop and saturat

[2022-02-09 10:59] #223 closed

[2022-02-09 10:59] #227 closed

[2022-02-09 11:31] secana commented on #227
fixed in 2.9.5

[2022-02-09 11:31] secana commented on #223
fixed in 2.9.5

[2022-02-09 14:44] hypervisor opened #228 "AddImport(s) doesn't handle the case where IAT doesn't already exist"
Steps to reproduce:
1) Create a PE file without any imports
2) Try using PeNet to add an import
3) Exception

[2022-03-14 18:36] nurajbihari commented on #228
Is there any plans to create the ability to parse .NET headers to extract information such as Directory Com Descriptor?

[2022-03-27 20:58] Mbucari commented on #228
If your PE doesn't already have imports, you'll need manually set the Import Directory RVA to something valid, and keep the size 0.

PeFile.ImageNtHeaders.OptionalHeader.DataDirectory[(int)DataDirectoryType.Import].VirtualAddress = [Valid RVA]

[2022-03-29 10:26] Lifka opened #233 "Check discarding some resources"
Hi,

the following check causes less resources to be obtained:

https://github.com/secana/PeNet/blob/05133c9692d20be2f951cf22ba6d951f0bd810f6/src/PeNet/HeaderParser/Pe/ImageResourceDirectoryParser.cs#L40-L42

For example, for the sample `aafee478d8d65eea241b1f01c0af10fa2181f7301776438d2b7a2f146f9dfc5a` PeNet gets only 30 resources, while other tools like pestudio, VirusTotal or Resource Hacker get

[2022-04-01 19:40] nurajbihari commented on #28
Can the resolved names be accessed using PeNet? How can I access the resolved names for the typeref table?

[2022-04-02 21:03] secana commented on #28
@nurajbihari sure, have a look at this test for an example: https://github.com/secana/PeNet/blob/05133c9692d20be2f951cf22ba6d951f0bd810f6/test/PeNet.Test/Header/Net/NetCoreConsoleTest.cs#L147

[2022-04-04 12:51] secana commented on #233
Hi @Lifka, sry I don't have access to that specific file to check what's going on. Could you share it with me?

[2022-04-04 21:03] Lifka commented on #233
Sure! Sorry, this is the sample --> https://mega.nz/file/A1MB1BQZ#X2lY4cvLhr8kz0XhgFhU0VkXRKBt66xthXUThf036X4 (`aafee478d8d65eea241b1f01c0af10fa2181f7301776438d2b7a2f146f9dfc5a`).

Be careful! **Do not execute**, it's a malware. Zip password: `infected`

[2022-04-14 21:31] skul377 opened #234 "Unable to add a Import using the AddImport method"
I tried using the stock templat as given below to add an import to a file. However, I am not able to see the import added to the binary.
Please let me know where I am going wrong.

[code]
I imported the package via NuGet and compiled the code.
The code exits as expected but doesn't provide the expected results.

[2022-04-25 23:17] SteAmeR opened #235 "Memory exhaustion issue"
Hi,

Today I came across a fatal issue on PeNet when I analyzed a malware sample that I found on malwarebazaar. The sample size is 554 kb and it's type is a xll file (a excel plugin of some kind)
Sample link: https://bazaar.abuse.ch/sample/b9eeeea558d05af8a3c03070a5960a95f5e9c5d7671d2e15e917a3d911cb846b/

The physical memory consumption reaches the very critical range and is exhausted when I want

[2022-05-09 09:02] demberto opened #238 ".NET 4.8 error"
PeNet seems to require `System.Runtime.CompilerServices.Unsafe` v4.0.4.1 (Nuget 4.5.3) but installs Nuget v6.0.0 (which I think is for .NET 6 and not .NET 4.8). I get the error that the specified file cannot be found.

[Adding the required version to GAC](https://stackoverflow.com/a/62770487) works.

[2022-05-21 12:50] tapika opened #243 "Possibility to merge .dll into .exe file ?"
PeNet in theory offers mechanism of adding and maybe even manipulating existing sections.

How complex it would be to merge .dll into .exe file directly ?

What I have checked .dll and .exe typically contains
[code]

named section. How complex would it be to merge all sections using some logic using PeNet ?

If someone has done this already, maybe could give a description on how to do it or ideate

[2022-05-22 18:58] secana commented on #243
That would mean, that the work that a linker usually does needs do be implemented into PeNet. While I like the idea, I guess that's too much work for an open source project without any company behind it.

[2022-05-22 18:58] #243 closed

[2022-05-22 19:52] tapika commented on #243
This does not seems to be reasonable simple as well, added brief comments into here:

https://github.com/tapika/test_native_dll_loading/discussions/2#discussioncomment-2800172

[2022-06-08 15:58] superewald opened #245 "AddImport produces corrupt binary on linux"
Adding an import entry to a PeFile produces corrupt output when running on linux.

## details

I'm using this library to patch an applications IAT and load a custom dll. When running on windows it works fine but running on linux the output binary is not executed properly anymore.

## reproduce

[code]

## logs

Heres the output of running the patched application on linux (using wine, running on wi

[2022-06-10 14:03] secana commented on #245
@superewald That is some very strange behavior. I'll try to have look in the next days, but a.t.m. I cannot think of any reason there should be a difference between Windows and Linux.

[2022-06-13 09:14] superewald commented on #245
Yes, I was very confused too. I've noticed the patched binary on linux is also ~3.6 MB larger than the patched binary on windows.

One thing that confuses me still (but probably isn't related to this issue) is the fact that if I compare the (working) patched and original files, there is just no difference at all (even though the DLL is added to the IAT). I guess I'm missing something about how PE

[2022-06-16 20:19] secana commented on #245
Thanks for the files. Are you sure the "Patched on Windows" is the correct one?

0f4a732484f566d928c580afdae6ef01c002198dd7158cb6de29b9a4960064c7  Original.exe
0f4a732484f566d928c580afdae6ef01c002198dd7158cb6de29b9a4960064c7  Patched-on-Windows.exe
02cce81e91fe6b98568892f7d921c3568212dd13a0a2b28c33157f1f9efed984  Patched-on-Linux.exe

Original and the patched one have the same hash sum, which mean

[2022-06-30 13:54] #245 closed

[2022-07-02 08:20] alexrp opened #246 "Trim warnings (in .NET 7)"
Consuming PeNet from a .NET 7 project that declares itself trimming-compatible produces the following warnings:

[code]

More info here: https://docs.microsoft.com/en-us/dotnet/core/deploying/trimming/prepare-libraries-for-trimming

[2022-07-07 12:56] rngcntr commented on #235
I noticed similar behavior recently and prepared a potential fix together with @secana today. I'll link the PR here once it is ready for review.

[2022-07-07 13:17] secana commented on #235
@rngcntr @SteAmeR can you check if the problem still exists with the version `2.9.8-pre1`? Should be available on NuGet in a few minutes.

[2022-07-07 18:54] SteAmeR commented on #235
The fix is tested and validated. Thx

[2022-07-07 18:54] #235 closed

[2022-07-08 08:20] rngcntr commented on #235
Confirmed, `v2.9.8-pre1` reduced both compute and memory resources by two orders of magnitude for certain samples.

[2022-09-16 12:17] Bobbymac001 opened #251 "PeNet.FileParser.StreamFile - ReadUnicodeString function issue - infinate loop"
Discovered an issue with PeNet.FileParser.StreamFile in ReadUnicodeString(long) function.

Basically, the functions' intent is to keeps reading bytes from the stream until it reaches two bytes with 0x00 0x00 (or unicode /u0000 when combined), then break and return the Unicode encoded string. Unfortunately, I found several malware samples where it seems a Unicode null character did not terminate th

[2022-09-16 13:56] secana commented on #251
Hi @Bobbymac001, thanks for reporting the bug. Do you have any file I can test the behavior with? Probably a SHA256 or MD5 is enough, as it may already be in my malware collection.

[2022-09-16 14:14] Bobbymac001 commented on #251
Hello @secana, not a problem. Thank you for building this library and maintaining it. 🥇

I was running through a VirusShare batch from 00437 when started getting several that triggered it. It took me a while to figure out what was going on - it was shifting into an infinite loop statement when I checked properties for null values in the resources object of the PeFile.

`if (pef.Resources != null &

[2022-09-18 10:15] Bobbymac001 opened #252 "MetaDataTableHdr - Malformed Rowcount - Forces out of memory exception - Needs a sanity Check"
I discovered an outlier parsing a PE file where the table definition array for a StandAlongSignature token is significantly larger than the file size (in my case, 2 bytes per row, and 286331153 rows, (or 572.7 MB needed), The thing reads well past the end of the file (like the other issue I highlighted). The file source file is 532992 bytes.

The root source of the issue is in the List<MetaDataTab

[2022-09-19 14:39] #252 closed

[2022-09-19 14:43] #251 closed

[2022-09-19 14:43] secana commented on #251
@Bobbymac001  can you check if it is fixed in 2.9.9-pre1?

[2022-09-21 07:05] Bobbymac001 commented on #251
@secana, I'll apply both sets of changes to the codebase over the weekend, and test/validate soon as I have a window to dig out the samples...

[2022-09-25 17:25] Bobbymac001 commented on #251
@secana, I applied the code changes and tested and didn't have any issues with the specific samples I knew about. I'm about to rerun the data extraction on the whole repository (over a few days) and will add another 40K samples through the week - I'll let you know if anything else pops on either, but looks good/solved.

[2022-09-25 17:48] secana commented on #251
@Bobbymac001 thanks a lot. If everything works as expected, I'll release the non-preview version.

[2022-10-10 10:56] Bobbymac001 commented on #251
Hey There, sorry for the late reply, had some other work that took priority. I ran a small subset of the batch and didn't have any issues. I need to do an 80K run later this week, but as far as I can tell it's working as expected now.

[2022-11-12 08:35] tapika opened #258 "Add example code which can extract multiple icons as one .ico file"
See following answer: https://stackoverflow.com/a/74411477/2338477

Would it be possible to code example which would replace `IconLib.Unofficial` nuget package use ?

[2022-11-13 08:27] tapika commented on #258
Hmm... There exists also following [article](https://vec3.ca/extracting-icons-from-pe-files) if it can be used ?

[2022-11-14 10:22] rngcntr commented on #258
Hi @tapika!

I have discussed the possibility to export multiple icons as single .ico files with other contributors. Our goal was to align this implementation with the behavior of other popular PE file utilities in terms of exporting the same formats etc.
IIRC, neither CFF Explorer nor Resource Hacker pack multiple icons into one file so we decided not to do so either. Anybody who explicitly needs

[2022-11-14 15:55] tapika commented on #258
I think this PR already opened, unless you close it.

Florian Grieskamp was also asking on .exe samples which can be used for testing - you can use these readytorun executable file for example: https://github.com/tapika/swupd/releases

Btw - I have tried to locate software I have used once upon a time to check multiple icons - and there exists
[greenfish icon editor pro 4.0](http://greenfishsoftwa